/* Sidebar */
aside {
  background-color: white;
  border: 1px solid rgb(240, 237, 237);
  position: relative;
  height: calc(100vh - 2.5rem - 3rem);
  flex: 0 1 auto;
  & > div#top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 1.5rem 0.5rem;
    position: relative;

    & > div {
      margin-left: 1rem;
      h4 {
        font-weight: normal;
        font-size: 0.9rem;
      }
      p {
        color: grey;
        font-size: 0.7rem;
      }
    }
    i.material-icons {
      position: absolute;
      right: 1rem;
      top: -5px;
      color: rgb(126, 179, 113);
    }
  }

  div#menus {
    display: flex;
    flex-direction: column;
    // position: relative;
    margin-bottom: 1rem;
    height: fit-content;
    button {
      display: inline-block;
      background-color: unset;
      padding: 0.6rem 2rem;
      width: 100%;
      color: grey;
      text-align: left;
      cursor: pointer;
      i {
        margin-right: 1rem;
        font-size: 1.1rem;
      }
      i,
      span {
        vertical-align: middle;
      }
      &:hover,
      &.active {
        background-color: rgb(245, 250, 255);
        border-left: 2px solid rgb(34, 144, 255);
        color: rgb(34, 144, 255);
      }

      &:last-child {
        position: absolute;
        bottom: 1rem;
      }
    }
  }
}
