/* MainNav */
div#mainNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & > div {
    display: flex;
    div#pagination {
      display: flex;
      align-items: center;
      span {
        margin: 0rem 1rem;
      }
    }
  }
  div#btns {
    button {
      background-color: unset;
      border: none;
      width: 4rem;
      height: 2rem;
      border-radius: 2px;
      &.active {
        background-color: blue;
      }
    }
    & > button {
      margin-left: 3rem;
      margin-right: 2rem;
    }
    & > div#group-btn {
      display: inline-block;
      button {
        width: 5rem;
        border: 1px solid grey;
        &:first-child {
          margin-right: -2px;
        }
      }
    }
  }
}

/* Ads */

div#ads {
  border-radius: 2px;
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  background-color: rgba($color: #432455, $alpha: 0.5);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  div#about {
    display: flex;
    align-items: center;
    height: 100%;
    img {
      display: inline-block;
      border-radius: 50%;
      border: 3px solid pink;
      width: 60px;
      height: 60px;
      margin-right: 1rem;
    }
  }
  div#users {
    div.user {
      border-radius: 50%;
      border: 0.13rem solid white;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      text-align: center;
      line-height: 1.85rem;
      font-size: 0.9rem;
      background-color: pink;
      position: relative;
      margin-left: -8px;
    }
    p {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  div.button {
    button {
      border: 1px solid white;
      width: 8rem;
      height: 2.2rem;
      border-radius: 2px;
      background-color: transparent;
      .fa {
        margin-right: 0.8rem;
      }
      &.fill {
        background-color: white;
        margin-left: 3rem;
      }
    }
  }
}

/* Notifications */

div#notifications {
  border-radius: 4px;
  width: 100%;
  height: 7rem;
  margin: 1.5rem 0rem;
  background-color: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 2rem 1.5rem;

  div.notification {
    display: flex;
    align-items: center;

    i.fa {
      font-size: 1.5rem;
      padding: 1.5rem;
      border-radius: 50%;
      border: 1px solid rgb(120, 120, 173);
      background-color: lightblue;
      margin-right: 1rem;
    }
    & > div {
      h3,
      h4 {
        font-weight: normal;
      }
      h4 > span {
        font-weight: bold;
        margin-right: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

/* Msg */

div.msg {
  border-radius: 1px;
  width: 100%;
  height: 4rem;
  margin: 1.5rem 0rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 10fr 1fr;
  align-items: center;
  border: 1px solid rgb(240, 237, 237);
  padding: 0.5rem;
}
